<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ with .Title }}{{ . }} &#8212; {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ with .Params.CustomCSS }} <link rel="stylesheet" href="{{ . | relURL }}"> {{ end }}

    <link rel="stylesheet" href="{{ "assets/screen.css" | relURL }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

  </head>
  <body class="d-flex flex-column h-100">
    {{ partial "navbar.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  </body>
</html>
